<div class="hero-unit row">
  <div class="col-lg-offset-4 col-lg-4" >
    <div class="block-unit" style="text-align:center; padding:8px 8px 8px 8px;">
      <!-- <img src="assets/img/face80x80.jpg" alt="" class="img-circle"> -->
      <br>
      <br>
      <form class="cmxform" id="signupForm" method="get" action="">
        <fieldset>
          <p>
            <input id="username" name="username" type="text" placeholder="Username">
            <input id="password" name="password" type="password" placeholder="Password">
          </p>
            <input class="submit btn-success btn btn-large" type="submit" value="Login">
            <input class="submit btn-success btn btn-large" type="submit" value="Sign Up">
            <p>or just <a class="btn-success btn btn-large" href="#/search">Window Shop</a></p>
        </fieldset>
      </form>
    </div>
  </div>
</div>
