<div class="hero-unit">
  <h1>Latest Jobs</h1>
</div>


<div class="panel-group" id="accordion">
  <div class="panel panel-default a-card" ng-repeat="job in jobs">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          {{job.title}}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        {{job.description}}
      </div>
    </div>
  </div>
</div>